.ngProgressLite {
    pointer-events: none;
}

.ngProgressLiteBar {
    /*Modificado por Diana para estilos de a barra*/
    /*background: #31708f;*/
    background: -webkit-linear-gradient(left, #D2273A 20%, #364A7F 60%, #F3D85D 100%);
    background: -moz-linear-gradient(left, #D2273A 20%, #364A7F 60%, #F3D85D 100%);
    /*background: -moz-linear-gradient(left, #F3D85D 20%, #364A7F 60%, #D2273A 100%);*/
    /*arriba*/
    /*position: fixed;*/
    /*abajo*/
    position: inherit;
    z-index: 99999;
    top: 0;
    left: 0;
    height: 7px;
}
/*
.ngProgressLite .ngProgressLiteBarShadow {
        display: block;
        position: absolute;
        right: 0px;
        width: 100px;
        height: 100%;
        box-shadow: 0 0 10px #29d, 0 0 5px #29d;
        opacity: 1;
        -webkit-transform: rotate(3deg) translate(0px, -4px);
        -ms-transform: rotate(3deg) translate(0px, -4px);
        transform: rotate(3deg) translate(0px, -4px);
}*/
