#botones {
background-color: #C07784;
border-radius: 15px 15px 15px 15px;
height:60px;
opacity: 0.9;
border: 1px solid #B11010;
font-weight: normal;


}
#botones b{
font-size:10px;
margin-top:2px;
}
#botones:hover {
opacity: 1;
background-color:#8E2E35;

}

#botones img{
opacity:0.7;
/*background-color: #000000;*/
-webkit-transform:scale(0.9);
-moz-transform:scale(0.9);
-o-transform:scale(0.9);
-webkit-transition-duration: 0.2s;
-moz-transition-duration: 0.2s;
-o-transition-duration: 0.2s

  
}

#botones img:hover {
cursor: pointer;
/*background: -moz-linear-gradient(center top , #F0F0F0,#ED7F94, #A61717,#7F1111) repeat scroll 0 0 transparent;*/
color : blue;
opacity:1;
-webkit-transform:scale(1.2);
-moz-transform:scale(1.2);
-o-transform:scale(1.2);
-webkit-transition-duration: 0.1s;
-moz-transition-duration: 0.1s;
-o-transition-duration: 0.1s;


}

#botones b{
 color: white;
 
}
#botones b:hover{
color:#00BFFF;

}
.title {
background-color: #CCCCCC;
font-family: "Times New Roman", Times, serif;
color: #009933;
}


/*#botones table {
background-color: #C07784;
border-radius: 15px 15px 15px 15px;
/*width: 20px;*/
/*height:60px;*/
/*opacity: 0.7;*/
/*border: 1px solid #B11010;

}
#botones table:hover {
opacity: 1;
background-color:#8E2E35;

}*/

