 /*class caja: funcion: recuadra para enmacar div..*/
 .caja{
	padding:10px;
	overflow:hidden;  border:2px solid #940000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width:1000px;
	margin: 0px auto; background: #F5F5F5; 
	text-align: center;
	
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(128, 129, 129, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(128, 129, 129, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(128, 129, 129, 0.6); 
}

/*clases para tablas de los admin*/
table.vista {
	border-width: 1px;
	border-spacing: 0px;
	border-style: outset;
	/*border-color: rgb(4, 137, 177);*/
	border-collapse: separate;
	/*background-color: rgb(4, 137, 177);*/
	font-family:Arial, sans-serif;
	font-size:14px;
	/*font-weight:bold;*/
 	/*margin:0 auto;*/
 	margin-bottom:2px;
}
table.vista th {
	color:white;
	font-weight:bold;
 	margin:0 auto;
	border-width: 1px;
	padding: 1px;
	border-style: none;
	border-color: gray;
	background-color: #8A0808;
 }
table.vista td {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: #E8E8E8;
	background-color:#E8E8E8;
	/*-moz-border-radius: 15px;*/
}
table.vista button {
background-color: #E8E8E8;
border-width: 2;
color: white;
font-family:Arial, sans-serif;
font-weight: bold;
}

/******************Estilos de Presentacion de Vista*****************/

.campoNombre {
	
	font-size:14px;
	/*text-align: right;*/
	text-align: left;
	font-weight: bold;
	color:#E8E8E8;
}

.campoValor {
	
	font-size:14px;
	text-align: left;
	background-color:#E0E0E0;
}

.campoTitulo {
	
	color: #FFFFFF;
	font-weight: bold;
	margin: 0 auto;
	
	}
/*------------------------------------------Drag and Drog------------------------------------------*/
.camposet{
         margin-top: 20px;   
    	border-style: solid;
	border-color:#8A0808;
        -moz-border-radius: 15px;
}
.fila1 {
            background:#C8D2D2;
       }
 .leyendaset{
      /*  -moz-border-radius: 15px; 
        border-style: solid;
	border-color:#8A0808;*/
        font-weight: bold;
    } 

table.detail-view th, table.detail-view td
{
	font-size: 0.9em;
	border: 1px white solid;
	padding: 0.3em 0.6em;
	vertical-align: top;
}

table.detail-view th 
{
	text-align: right;
	width: 260px;		
}
table.detail-view tr.odde
{
	background-color: #B6AAAA;
	color: #373636;
}

table.detail-view tr.odd
{
	background-color: #B6AAAA;
    background-image: url("fade.png");
}

table.detail-view tr.even
{
        background:#DAD7D7;
    background-image: url("fade.png");
}

table.detail-view tr.odd th
{
}E8E8E8

table.detail-view tr.even th
{
}