#alternador .hover {
    background-color: #AAFFAA;
    color: #B40404;
    cursor: pointer;
}
.selected {
    font-size: 1.2em;
    font-weight: bold;
 

}
#alternador .boton {
    background-color: #F2F2F2;
    border-color: #B40404;
    border-style: double;
    border-width: 3px;
    float: left;
    margin: 10px;
    padding: 9px;
    text-align: center;
    width: 300px;
}
.ocultar {
    display: none;
}