/*@CHARSET "UTF-8";*/

/********CLASES********/

table.vista {
	border-width: 1px;
	border-spacing: 0px;
	border-style: outset;
	/*border-color: rgb(4, 137, 177);*/
	border-collapse: separate;
	/*background-color: rgb(4, 137, 177);*/
	font-family:Arial, sans-serif;
	font-size:14px;
	/*font-weight:bold;*/
 	/*margin:0 auto;*/
 	margin-bottom:2px;
}
table.vista th {
	color:white;
	font-weight:bold;
 	margin:0 auto;
	border-width: 1px;
	padding: 1px;
	border-style: none;
	border-color: gray;
	background-color: #8A0808;
  

}
table.vista td {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: #E6E6E6;
	background-color:#EEF6F6;
	/*-moz-border-radius: 15px;*/
}
table.vista button {
background-color: #0E6367;
border-width: 2;
color: white;
font-family:Arial, sans-serif;
font-weight: bold;
}

/******************Estilos de Presentacion de Vista*****************/

.campoNombre {
	
	font-size:14px;
	/*text-align: right;*/
	text-align: left;
	font-weight: bold;
	color:#6E6E6E;
	

}

.campoValor {
	
	font-size:14px;
	text-align: left;
	background-color:#E0E0E0;
}

.campoTitulo {
	
	color: #FFFFFF;
	font-weight: bold;
	margin: 0 auto;
	
	}

/*------------------------------------------Drag and Drog------------------------------------------*/

.camposet{
         margin-top: 20px;   
    	border-style: solid;
	border-color:#8A0808;
        -moz-border-radius: 15px;
    
    
    
    
}
.fila1 {
            
            background:#C8D2D2;
            
       }
 .leyendaset{

      /*  -moz-border-radius: 15px; 
        border-style: solid;
	border-color:#8A0808;*/
        font-weight: bold;
    	
    } 



