table.detail-view th, table.detail-view td
{
	font-size: 0.9em;
	border: 1px white solid;
	padding: 0.3em 0.6em;
	vertical-align: top;
}

table.detail-view th 
{
	text-align: right;
	width: 260px;		
}
table.detail-view tr.odde
{
	background-color: #B6AAAA;
	color: #373636;
}

table.detail-view tr.odd
{
	background-color: #B6AAAA;
    background-image: url("fade.png");
}

table.detail-view tr.even
{
        background:#DAD7D7;
    background-image: url("fade.png");
}

table.detail-view tr.odd th
{
}

table.detail-view tr.even th
{
}