.caja{
display: flex;
}

.flex {
display: inline-flex;
}

.inline {
display: inline-block;
width: 25%;
border: 20px solid gray;
padding: 20px;
box-sizing: border-box;    
}

.table{
display: table;
}

.tablecell{
display: table-cell;
padding: 10px;
border: 10px solid gray;
margin: 5px;
}

.padrefloat:hover{
    border: 5px solid brown;
}

.padrefloat::after, .padrefloat::before{
    clear: both;
    display: block;
    content: "";

}


.float{
    float: left;
    width: 33.33%;
    padding: 20px;
    border: 2px solid black;
    box-sizing: border-box;
}