.caja{
    width: 80%;
    padding: 20px;
    background-color: gray;
    box-sizing: border-box;
    text-align: center;
    border-radius: 2.5%;
    animation-iteration-count: initial;
    animation-duration: 1s;
    }

    .caja p{

        padding: 50px;
        box-sizing: border-box;
        font-style: italic;
        color: aliceblue;
        font-size: 18px;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .icon{
        color: aliceblue;
        font-size: 60px;
    }

.caja:hover {
animation-name: bounce;
animation-iteration-count: infinite;
animation-duration: 1s;
animation-timing-function: linear;


}


/* 
animacion iconos gth */

    @keyframes girar{

        from{
            transform: rotateY(0deg);
        }

        to{
            transform: rotateY(360deg);
        }
    }

    .anim1{

        animation-name: girar;
        animation-duration: 1s;
        animation-iteration-count: 3;
        animation-timing-function: linear;
    }



    @keyframes volar{
        0%{
            opacity: 0;
            left: 0;
            top:-200px;
            transform: rotateZ(90deg);
        }
        20%{
            opacity: 1;
            left: 0;
            top: 0;
            transform: rotateZ(0deg) scale(2,2);
        }
        30%{
            opacity: 1;
            left: -150px;
            top: 0;
            /*transform: rotateZ(720deg);*/
            transform: rotateZ(0deg);
        }/*sube y baja de nuevo*/
        50%{
            opacity: 1;
            left: 0px;
            top: 0;
            transform: rotateZ(0deg);
        }
        60%{
            opacity: 1;
            left: -50px;
            top: 0;
            transform: rotateZ(0deg);
        }
        100%{
            opacity: 0;
            left: 300px;
            top: 0;
            transform: rotateZ(0deg);
        }
    }
    
    .anim2{
        position: relative;
        top:-200px;
        animation-name: volar;
        animation-duration: 5s;
        animation-iteration-count: 1; /*infinite;*/
        animation-delay: 1s;
        /*animation-direction: alternate-reverse;*/
    
    }