.lienzo{
    width: 600px;
    position: relative;
    border: 1px solid black;
    margin: 0 auto;
    height: 550px;
}

.position{
    position: absolute;
}

.base{
    width: 300px;
    height: 300px;
    background-color: aquamarine;
    bottom: 0;
    left: 25%;
}

.ventana{
    width: 75px;
    height: 75px;
    background-color: yellow;
    border: 5px solid black;
    top: 15%;
}

#v1{
    left: 5%;
}

#v2{
    right: 5%;
}

.puerta{
    width: 120px;
    height: 150px;
    background-color: yellow;
    border: 5px solid black;
    bottom: 0;

}

.pomo{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}

.techo{
    width: 0px;
    height: 0px;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    left: 25%;
    border-bottom: 250px solid tomato;
    
}

.chimenea{
    width: 50px;
    height: 50px;
    top: 16%;
    background-color: slategrey;


}