.lienzo{
    width: 600px;
    position: relative;
    border: 1px solid black;
    margin: 0 auto;
    height: 900px;
    align-items: center;
    background-color: azure;
    top: 69%;
}


.position{
    position: absolute;
}

.rombo1 {
    width: 150px; 
    height: 150px; 
    /* border: 3px solid #555;  */
    background: #06ddf1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 40%;
    position: relative;
    top:10%;

}

#r1{
    top: -2%;
}
#r2{
    top: -13.5%;
}#r3{
    top: -25%;
}
#r4{
    top: -37%;
}
#r5{
    top: -49%;
}
#r6{
    top: -60%;
}
#r7{
    top: -71%;
}
#r8{
    top: -81%;
}


.brillo {
    width: 107px; 
    height: 107px; 

    background: #b8f5f0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 44.19%;
    position: absolute;
    z-index: 1;
    top: 14.1%;

}
#b1{
    top:22.60% ;
}
#b2{
    top:31.21% ;
}
#b4{
    top:39.5% ;
}
#b5{
    top: 47.9%;
}
#b6{
    top:56%;
}
.brillo1 {
    width: 53.5px; 
    height: 53.5px; 
    background: #01f1f2;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    z-index: 2;
    left: 48.69%;
}
#up  {
    top: 12.85%;
}
#up1  {
    top: 21.35%;
}
#up2 {
    top: 29.85%;
}
#up3  {
    top: 38.38%;
}
#up4  {
    top: 46.65%;
}
#up5  {
    top: 54.85%;
}
#up6  {
    top: 63.24%;
}
.stb {
    width: 148px;
    height: 70px; 
    background: black;    
    -webkit-transform: rotate(45deg);    
    -moz-transform: rotate(45deg);    
    -ms-transform: rotate(45deg);    
    -o-transform: rotate(45deg);    
    transform: rotate(45deg);    
   
    position: relative;
    top: -778px;    
    z-index: 3;
}
#st1  {
    top: -87%;
    left: 28%; 
}

.stb1 {
    width: 70px;
    height: 70px; 
    background: black;    
    -webkit-transform: rotate(45deg);    
    -moz-transform: rotate(45deg);    
    -ms-transform: rotate(45deg);    
    -o-transform: rotate(45deg);    
    transform: rotate(45deg);    
   
    position: relative;
    top: -778px;    
    z-index: 3;
}
#st2  {
    top: -97.78%;
    left: 13.76%; 
}

#st5  {
    top: -97.78%;
    left: 13.76%; 
}

.stb2 {
    width: 70px;
    height: 148px; 
    background: black;    
    -webkit-transform: rotate(45deg);    
    -moz-transform: rotate(45deg);    
    -ms-transform: rotate(45deg);    
    -o-transform: rotate(45deg);    
    transform: rotate(45deg);    
   
    position: relative;
    top: -778px;    
    z-index: 3;
}
#st3  {
    top: -106.75%;
    left: -7.02%; 
}


.stb3 {
    width: 148px;
    height: 70px; 
    background: black;    
    -webkit-transform: rotate(45deg);    
    -moz-transform: rotate(45deg);    
    -ms-transform: rotate(45deg);    
    -o-transform: rotate(45deg);    
    transform: rotate(45deg);    
   
    position: relative;
    top: -778px;    
    z-index: 3;
}
#st4  {
    top: -112.75%;
    left: -13.56%; 
}
.stb4 {
    width: 148px;
    height: 70px; 
    background: black;    
    -webkit-transform: rotate(45deg);    
    -moz-transform: rotate(45deg);    
    -ms-transform: rotate(45deg);    
    -o-transform: rotate(45deg);    
    transform: rotate(45deg);    
   
    position: relative;
    top: -778px;    
    z-index: 3;
}
#st5  {
    top: -115.75%;
    left: 11.90%; 
}

.stb5 {
    width: 70px;
    height: 70px; 
    background: black;    
    -webkit-transform: rotate(45deg);    
    -moz-transform: rotate(45deg);    
    -ms-transform: rotate(45deg);    
    -o-transform: rotate(45deg);    
    transform: rotate(45deg);    
   
    position: relative;
    top: -778px;    
    z-index: 3;
}
#st6  {
    top: -120.45%;
    left: 39.15%; 
}

.stb6 {
    width: 70px;
    height: 140px; 
    background: black;    
    -webkit-transform: rotate(45deg);    
    -moz-transform: rotate(45deg);    
    -ms-transform: rotate(45deg);    
    -o-transform: rotate(45deg);    
    transform: rotate(45deg);    
   
    position: relative;
    top: -778px;    
    z-index: 3;
}
#st7  {
    top: -145.94%;
    left: 59.8%; 
}
.stb7 {
    width: 70px;
    height: 70px; 
    background: black;    
    -webkit-transform: rotate(45deg);    
    -moz-transform: rotate(45deg);    
    -ms-transform: rotate(45deg);    
    -o-transform: rotate(45deg);    
    transform: rotate(45deg);    
   
    position: relative;
    top: -778px;    
    z-index: 3;
}
#st8  {
    top: -160.12%;
    left: 80.1%; 
}

.stb8 {
    width: 140px;
    height: 70px; 
    background: black;    
    -webkit-transform: rotate(45deg);    
    -moz-transform: rotate(45deg);    
    -ms-transform: rotate(45deg);    
    -o-transform: rotate(45deg);    
    transform: rotate(45deg);    
   
    position: relative;
    top: -778px;    
    z-index: 3;
}
#st9  {
    top: -165.12%;
    left: 94.5%; 
}

.stb9 {
    width: 70px;
    height: 140px; 
    background: black;    
    -webkit-transform: rotate(45deg);    
    -moz-transform: rotate(45deg);    
    -ms-transform: rotate(45deg);    
    -o-transform: rotate(45deg);    
    transform: rotate(45deg);    
   
    position: relative;
    top: -778px;    
    z-index: 3;
}
#st10  {
    top: -171.12%;
    left: 100.5%; 
}

.stb10 {
    width: 70px;
    height: 140px; 
    background: black;    
    -webkit-transform: rotate(45deg);    
    -moz-transform: rotate(45deg);    
    -ms-transform: rotate(45deg);    
    -o-transform: rotate(45deg);    
    transform: rotate(45deg);    
   
    position: relative;
    top: -778px;    
    z-index: 3;
}
#st11  {
    top: -181.30%;
    left: 75.89%; 
}

.stb11 {
    width: 70px;
    height: 70px; 
    background: black;    
    -webkit-transform: rotate(45deg);    
    -moz-transform: rotate(45deg);    
    -ms-transform: rotate(45deg);    
    -o-transform: rotate(45deg);    
    transform: rotate(45deg);    
   
    position: relative;
    top: -778px;    
    z-index: 3;
}
#st12  {
    top: -190.30%;
    left: 55.49%; 
}


.em1 {
    width: 70px;
    height: 70px; 
    background: black;    
    -webkit-transform: rotate(45deg);    
    -moz-transform: rotate(45deg);    
    -ms-transform: rotate(45deg);    
    -o-transform: rotate(45deg);    
    transform: rotate(45deg);    
   
    position: relative;
    top: -778px;    
    z-index: 3;
}
#emp1  {
    top: -187.3%;
    left: 55.49%; 
}
#emp2  {
    top: -195.1%;
    left: 39.1%; 
}

#emp3  {
    top: -192.3%;
    left: 55.49%; 
}
#emp4  {
    top: -200.1%;
    left: 39.1%; 
}

#emp5  {
    top: -197.3%;
    left: 55.49%; 
}#emp6  {
    top: -205.1%;
    left: 39.1%; 
}

.em2 {
    width: 210px;
    height: 210px; 
    background: black;    
    -webkit-transform: rotate(45deg);    
    -moz-transform: rotate(45deg);    
    -ms-transform: rotate(45deg);    
    -o-transform: rotate(45deg);    
    transform: rotate(45deg);    
    position: relative;
    top: -778px;    
    z-index: 3;
}
#emp7  {
    top: -215.05%;
    left: 35.38%; 
}
.em3 {
    width: 70px;
    height: 70px; 
    background: #965d03;    
    -webkit-transform: rotate(45deg);    
    -moz-transform: rotate(45deg);    
    -ms-transform: rotate(45deg);    
    -o-transform: rotate(45deg);    
    transform: rotate(45deg);    
   
    position: relative;
    top: -778px;    
    z-index: 3;
}
#emp8  {
    top: -262.79%;
    left: 47.167%; 
}
#emp9  {
    top: -259.79%;
    left: 47.167%; 
}
#emp10  {
    top: -256.99%;
    left: 47.167%; 
}

.em4 {
    width: 70px;
    height: 70px; 
    background: #00efec;    
    -webkit-transform: rotate(45deg);    
    -moz-transform: rotate(45deg);    
    -ms-transform: rotate(45deg);    
    -o-transform: rotate(45deg);    
    transform: rotate(45deg);    
    position: relative;
    top: -778px;    
    z-index: 3;
}

#emp11  {
    top: -253.99%;
    left: 47.167%; 
}
#emp12  {
    top: -304.90%;
    left: 47.167%; 
}

.em5 {
    width: 70px;
    height: 140px; 
    background: #00efec;    
    -webkit-transform: rotate(45deg);    
    -moz-transform: rotate(45deg);    
    -ms-transform: rotate(45deg);    
    -o-transform: rotate(45deg);    
    transform: rotate(45deg);    
    position: relative;
    top: -778px;    
    z-index: 3;
}

#emp13  {
    top: -318.987%;
    left: 67.787%;
}
#emp14  {
    top: -333.25%;
    left: 88.12%;
}
#emp15  {
    top: -342.12%;
    left: 5.35%;
}

.em6 {
    width: 140px;
    height: 70px; 
    background: #00efec;    
    -webkit-transform: rotate(45deg);    
    -moz-transform: rotate(45deg);    
    -ms-transform: rotate(45deg);    
    -o-transform: rotate(45deg);    
    transform: rotate(45deg);    
    position: relative;
    top: -778px;    
    z-index: 3;
}
#emp16  {
    top: -347.12%;
    left: 20.35%;
}