@import url('https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Barlow|Lalezar|Yeseva+One');

nav.navbar {
    background-color: #f6921e;
}

.row{
    margin: 50px auto;
    padding: 0 auto;

}
.row2{
    padding: 20px;

}
.container{
    max-width: 2500px;
    padding-left: 2em;
    padding-right: 2em;
}
.parallax{

    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

}

.tituloC{
    /* font-family: 'Alfa Slab One', cursive; */
    
    font-family: 'Lalezar',  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* font-family: 'Yeseva One', cursive; */

    font-size: 3em;
    color: #000000;
    

}

#blog{   
    background-image: url("../images/background-board-brown-326311.jpg");
    height: 800px;
}

.botonera{
    bottom: 5px;
    right: 5px;
}

.form-group label{
    font-weight: bold;

}

.text-area{
    min-height: 100px;
    max-height: 500px;
}

.position{
    position: absolute;
}



.txtalingcar{
    top: 10px;

}
.bgpilares{
    background-color: #8bc53f;
    height: auto;
    
}

.parrafocarr{
    font-size: 20px;
    text-shadow: 3px 3px 3px #20211e;

}

.titulo{
    color: azure;
    font-family: 'Lalezar', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3em;
    
}

.parrafo{
    color: azure;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;

}

.parrafoC{
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: 'Barlow', sans-serif;

}

.animate{
    animation-iteration-count: initial;
    animation-duration: 1.5s;
}


.blog{
    height: 800px;
    
}


.monitor{
    position: absolute;
    top: -80px;
    z-index: 0;
    
    /* background-image: url("./images/monitor.png");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; */


}
.frame{
    position: absolute;
    z-index: 2;
    left: 257px;
   
}
.embed-container {
    position: relative;
    padding-bottom: 45%;
    height: 0;
    overflow:visible;
    z-index: 1;
    align-items: center;
    border-image: url("/images/monitor.png");
    
}

.embed-container iframe {
    position: absolute;
    top:0;
    left: 3rem;
    width: 80.5%;
    height: 100%;
    align-items: center;

    
}

.sprite{
    width: 25px;
    height: 25px;
    display: block;
    text-decoration: none;
    background-image: url("../images/BTN_rrss.png");

    /* border-radius: 50%; */
}

.facebook{
    background-position: 0 -50px;
}

.facebook:hover{
    background-position: 0 -25px;
}

.twitter{
    background-position: 50px -50px;
}

.twitter:hover{
    background-position: 50px -25px;
}
.in{
    background-position: 100px -50px;
}

.in:hover{
    background-position: 100px -25px;
}


.curso{
    
    height: auto;
}

.txtcuros{
    text-align: center;

}


.lightbox {
    background-color: rgba(0, 0, 0, 0.8);
    overflow: scroll;
    position: fixed;
    display: none;
    z-index: 1;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  }
  .lightbox-container {
    position: relative;
    max-width: 960px;
    margin: 7% auto;
    display: block;
    padding: 0 3%;
    height: auto;
    z-index: 10;
  }
  @media screen and (max-width: 768px) {
    .lightbox-container {
      margin-top: 10%;
    }
  }
  @media screen and (max-width: 414px) {
    .lightbox-container {
      margin-top: 13%;
    }
  }
  .lightbox-content {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.7);
  }
  .lightbox-close {
    text-transform: uppercase;
    background: transparent;
    position: absolute;
    font-weight: 300;
    font-size: 12px;
    display: block;
    border: none;
    color: white;
    top: -22px;
    right: 3%;
  }
  .video-container {
    padding-bottom: 56.25%;
    position: relative;
    padding-top: 30px;
    overflow: hidden;
    height: 0;
  }
  .video-container_iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
  /* IGNORE FORM THIS POINT ON */
 
  #container {
    border-radius: 4px;
    max-width: 300px;
    height: auto;
    padding: 50px;
    background: white;
    margin: 100px auto;
  }
  #playme {
    /* background: #007fed; */
    text-transform: uppercase;
    font-weight: 300;
    border: none;
    color: white;
    padding: 10px 15px;
    display: inline-block;
    font-size: 14px;
    margin: 0;
  }
  

  /* Shine */
.hover14 figure {
	position: relative;
}
.hover14 figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.hover14 figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

.center-block{
    float: none;
  }