@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Oswald');


body{
    margin: 0 auto;
    padding: 0 auto;
}

.fondo{
    background-color: rgb(156, 160, 160);

}

.parallax{

    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#inicio{
    background-image:url("../images/background.jpg");
    height: 756px;
}

#tilinicio{
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    line-height: 250px;
    color: aquamarine;
}

.titulo{
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
}

.parrafo{
    font-family: 'Oswald', sans-serif;
}

.img-responsitive{
    display: block;
    margin: 0;
    width: 100%;
    height: auto;

}

.imgredonda{
    border-radius: 50%;
}

#text-fin{
text-align: center;
font-size: 1em;
margin: 0 auto;
line-height: 250px;
}

#fin{
    background-image: url("../images/resenator.jpg");
    height: 500px;
}