
a:link { color: blue; }          /* Enlaces no visitados */
a:visited { color: purple; }     /* Enlaces visitados */
a:hover { background: yellow; }  /* El usuario esta sobre el enlace */
a:active { color: lime; }        /* Enlaces activos */

.lil:first-child{
    color: blue;

}
.lil:last-child{
    color: blueviolet;
}

.table{
    width: 100px;
    border: 2px solid black
    ;
}

.input:focus {
        background: gray;
        color: whitesmoke;
      }
      
      cheackbox:checked + label {
        color: red;
      }