.caja{
width: 200px;
height: 400px;
border: 10px dotted whitesmoke;
background-color: gray;
margin-bottom: 10px;
color: black;
text-align: center;
line-height: 160px;
font-weight: bold; 

}

#realitve {
    position: relative;
    top: 550px;
    right: 500px;
}

#absolute{

    position: absolute;
    top:100px;
    right: 450px;

}

#fixed{
position: fixed;
    left: 550px;
    top: 0px;


}