html{
  font-size: 15px;
}


/*Estilos Slider*/
.slider {
  width: 100%;
  height:100%;
  margin: auto;
  overflow: hidden;
}

.slider ul {
  display: flex;
  padding: 0;
  width: 400%;

  animation: cambio 20s infinite alternate linear;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 100%;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

/*Estilos bloque bienvenidos*/
.bienvenidos {
  background: url("../images/bienvenidos.jpg");
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.encabezado{
background-color: #0000004a;
}

.navbar {
  background-color: #f6921e;}

.navbar-light .navbar-brand {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.3rem;
  text-transform: uppercase;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: rgb(255, 255, 255);
}
.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: white;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: white;
  background-color: #8bc53f;
  text-align: center;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
  text-align: center;
  margin: .2rem;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgb(255, 255, 255);
  background-color: #8bc53f;
}

.texto-bienvenida{
    color: aliceblue;
    margin-top: 6rem;
    text-align: center;
}
.btn-primary {
  background-color: #F05F40;
  border-color: #96341f;
  transition: all .5s ease;
  text-transform: uppercase;
}
.btn-primary:hover {
  background-color: #8bc53f;
  border-color: #96341f;
}

/*Estilos blos quienes somos*/
.quienes-somos {
  background: #f05f40;
  color: white;
}

/* slide full scren*/

body::-webkit-scrollbar { display: none; }

#slide-window
  {
  position:fixed;
  width:100%;
  height:100%;
  overflow:hidden;
  top:0px;
  left:0px;
  }

#slides
  {
  height:100%;  
  position:absolute;
  margin:0px;
  padding:0px;
  
  -webkit-transform: translate3d(0px,0px,0px);
  transform: translate3d(0px,0px,0px);
    
  transition: all 0.66s ease; -webkit-transition: all 0.66s ease; 
  
  }

.slide 
  {
  list-style:none;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 100%;
  background: #ccc;
  text-align: center;
  line-height: 300px; 
  background-size: cover; 
  background-position:50% 50%;
  color:#fff;
  -webkit-transform: translate3d(0px,0px,0px);
  visibility:hidden;
  -webkit-transform-style: preserve-3d;
  }

.alive { visibility:visible; }
/*
.nav 
  { 
  position:fixed; 
  z-index:9; 
  top:50%; 
  cursor:pointer; 
  color:#fff; 
  opacity:0.7; 
  transition: all 0.66s ease; -webkit-transition: all 0.66s ease; 
  }

.nav:hover { opacity:1.0; }
#left { left:3%; }
#right { right:3%; }*/


#credit 
  { 
  position:fixed; 
  top:25px; 
  left:25px; 
  color:#eaeaea; 
  font-family: 'Courier New', Courier, monospace;  
  }