body{
    margin: 0 auto;
    padding: 0 auto;
}

.titulo{
    font-size: 24px;
    color: brown;
    text-shadow: 2px 2px 4px blue;
}

.btn-viejo{
    width: 200px;
    background-color: blueviolet;
    border: 2px snow;
    margin-top:10px;
    padding:20px;
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
    text-decoration: none;
    display: block;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.Btn-new{
width: 100%;
display: block;
text-decoration: none;
font-size: 1.5em;
background-color: gray;
margin-top: 20px;
padding: 20px;
box-sizing: border-box;
box-shadow: 2px 2px 2px gray;  
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
cursor: pointer;
text-align:center;
}

.Btn-new:hover{
background-color: transparent;
border: 2px solid teal;
color: teal;
font-weight: bold;
box-shadow: 2px 2px 2px turquoise;
transition: all 0.5s ease;


}

.sprite{
width: 84px;
height: 84px;
display: block;
text-decoration: none;
background-image: url("../images/spice-social-gadget-sprite.png");
border-radius: 50%;

}

.facebook{
    background-position: 0 -84px;
}

.facebook:hover{
   background-position: 0 -168px;
}

.facebook:focus{
   background-position: 0 -252px;
}

.skype{
   background-position: -588px -84px; 
}

.skype:hover{
   background-position: -588px -168px;
}

.skype:focus{
   background-position: -588px -252px;
}

.gplus{
    background-position: -252px -84px; 
 }
 
 .gplus:hover{
    background-position: -252px -168px;
 }
 
 .gplus:focus{
    background-position: -252px  -252px;
 }

 .ytube{
    background-position: -840px -84px; 
 }
 
 .ytube:hover{
    background-position: -840px -168px;
 }
 
 .ytube:focus{
    background-position: -840px  -252px;
 }
