@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Oswald');

/* font-family: 'Abril Fatface', cursive;
font-family: 'Oswald', sans-serif; */

body{
background-image: url("../images/TR-02-04.jpg");
margin: 0 auto;
}

.container{
max-width: 960px;
margin: 0 auto;
background-color: #fff;}


#headertop{
text-align: center;
padding: 50px; 
background-color: #fff;
}

.imagenredonda {
border-radius: 50%;

}

.titulotop{
    font-size: 50px;
    font-family: 'Abril Fatface', cursive;
}

.secpadre{
    display: table;
    padding: 30px;

}

.arthijo{
    display: table-cell;
}

.imgsecc{
    padding: 50px;
    margin: 0 auto;
    display: block;
}


.titulo{
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}

.parrafo{
    font-family: 'Oswald', sans-serif;
}

#pie{

    background-color: darkgray;
    
text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 10px;
padding: 10px;

}