@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Raleway:600,400,700,300,100);
@import url(//fonts.googleapis.com/css?family=Droid+Sans);
/*========================================================
                      Bootstrap NULL
=========================================================*/
.thumbnail {
  border: none;
  padding: 0;
  border-right: 0;
  background-color: transparent;
  border-radius: 0;
}
.thumbnail .caption {
  padding: 10px 0;
}
figure img {
  width: 100%;
}
.badge {
  background: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media only screen and (max-width: 480px) {
  .col-xs-6 {
    float: none;
    width: 100%;
  }
}
a:hover *,
a:hover,
a *,
a,
a:active *,
a:active,
a:focus *,
a:focus {
  text-decoration: none;
  color: auto;
  outline: none;
  background: none;
}
/*========================================================
                      Main Styles
=========================================================*/
body {
  -webkit-text-size-adjust: none;
  background: #ffffff;
  font-family: 'Raleway', sans-serif;
}
thumbnail img {
  max-width: 100%;
  height: auto;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 40px;
  line-height: 51px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 14px;
  line-height: 25px;
}
p {
  font-size: 12px;
}
p a:hover {
  text-decoration: underline;
}
/*=======================================================
                       Components
=========================================================*/
/*========================================================
                     HEADER  Section 
=========================================================*/
header .header_top {
  padding-bottom: 29px;
  background: #ffffff;
}
header .header_top:before,
header .header_top:after {
  content: " ";
  display: table;
}
header .header_top:after {
  clear: both;
}
header .header_top .left_side {
  padding-top: 28px;
  float: left;
}
header .header_top .right_side {
  padding-top: 30px;
  float: right;
}
header .header_top .right_side .header_info {
  position: relative;
  padding: 6px 20px 6px 16px;
  border: 2px solid #e0e0e0;
  border-radius: 5px;
  color: #333333;
}
header .header_top .right_side .header_info:before {
  position: absolute;
  content: "";
  border-right: 1px solid #e0e0e0;
  height: 100%;
  display: block;
  top: 0;
  left: 47px;
}
header .header_top .right_side .header_info i {
  color: #5e9796;
  font-size: 24px;
  display: inline-block;
  height: 100%;
  padding-right: 13px;
}
header .header_top .right_side .header_info strong {
  font-size: 24px;
  font-weight: 600;
  margin-left: 11px;
}
header .header_top .right_side .header_info span {
  position: relative;
  top: -5px;
  font-size: 12px;
  color: #777777;
  font-weight: 400;
  margin-left: 8px;
}
/*==================  Brand     ======================*/
.brand img {
  max-width: 100%;
}
/*==================  Nav     ======================*/
/*========================   Menu   ==========================*/
nav.navbar.navbar-default.navbar-static-top.tm_navbar {
  background: #262626;
  border: none;
  margin: none!important;
  min-height: none!important;
  float: none;
  margin-bottom: 0!important;
  z-index: 1000;
  position: relative;
}
ul.sf-menu {
  background: #262626;
  padding: 0;
  margin-bottom: 0!important;
  position: relative;
}
ul.sf-menu:before,
ul.sf-menu:after {
  content: " ";
  display: table;
}
ul.sf-menu:after {
  clear: both;
}
ul.sf-menu > li {
  position: relative;
  float: left;
  min-width: 82px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul.sf-menu > li + li {
  margin-left: 0px;
  float: left;
}
ul.sf-menu a {
  text-transform: capitalize;
  display: block;
}
.sf-menu {
  border-left: 1px solid #515151;
}
.sf-menu > li {
  z-index: 1;
  position: relative;
  text-align: center;
  list-style: none;
  border-right: 1px solid #515151;
}
.sf-menu > li > a {
  padding: 19px 18px 20px;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  font-size: 15px;
  font-weight: 600;
}
.sf-menu > li.sfHover > a,
.sf-menu > li > a:hover {
  color: #ffffff;
  background: #3c3c3c;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.sf-menu > li.active > a {
  background: #3c3c3c;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.sf-menu > li.active {
  position: relative;
}
.sf-menu ul {
  display: none;
  position: absolute;
  top: 100%;
  left: -1px;
  background: #ffffff;
  padding: 0px;
  padding: 11px 0px 11px;
  text-align: left;
  box-sizing: border-box;
  border-top: 4px solid #5e9796;
}
.sf-menu ul > li {
  list-style: none;
  margin-left: 0px;
  display: block;
  position: relative;
  line-height: 31px;
  min-width: 187px;
}
.sf-menu ul > li > a {
  padding-left: 20px;
  font-size: 12px;
  text-decoration: none;
  color: #777777;
  display: block;
  font-weight: 400;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}
.sf-menu ul > li > a:hover {
  color: #5e9796;
  background: #e0e0e0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.sf-menu ul > li.with_ul > a:before {
  content: "\f105";
  font-family: fontAwesome;
  font-size: 12px;
  color: #8fd39d;
  position: absolute;
  right: 20px;
  top: 0px;
}
.sf-menu ul > li > a:hover:before,
.sf-menu ul > li.sfHover > a:before {
  color: #5e9796;
}
.sf-menu ul > li.sfHover > a,
.sf-menu ul > li > a:hover {
  color: #5e9796;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background: #e0e0e0;
}
.sf-menu ul ul {
  display: none;
  position: absolute;
  top: -4px;
  left: 105%;
  background: #ffffff;
  padding: 0px;
  padding: 11px 0px 11px;
  text-align: left;
  box-sizing: border-box;
  border-top: 4px solid #5e9796;
}
.sf-menu ul ul > li {
  list-style: none;
  margin-left: 0px;
  display: block;
  position: relative;
  line-height: 31px;
  min-width: 187px;
}
.sf-menu ul ul > li > a {
  padding-left: 20px;
  font-size: 12px;
  text-decoration: none;
  color: #777777;
  display: block;
  font-weight: 400;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.sf-menu ul ul > li > a:hover {
  color: #5e9796;
  background: #e0e0e0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.sf-menu ul ul > li.sfHover > a,
.sf-menu ul ul > li > a:hover {
  color: #5e9796;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background: #e0e0e0;
}
.sf-menu > li > .sf-with-ul {
  position: relative;
}
select.select-menu {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  display: none!important;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color: #777777;
  border: 2px solid #e0e0e0;
}
select.select-menu > * {
  text-align: left;
  border: none;
  outline: none;
}
.isStuck {
  z-index: 99;
  margin: 0;
  background: #212121;
}
.isStuck nav {
  margin: 0!important;
  padding: 0!important;
}
.isStuck .nav > li > a {
  padding: 20px!important;
}
.isStuck .sf-menu ul > li {
  top: 0;
}
@media only screen and (max-width: 991px) {
  .isStuck {
    display: none !important;
  }
}
@media (max-width: 1199px) {
  .sf-menu > li {
    width: 187px;
  }
}
@media (max-width: 991px) {
  .sf-menu > li {
    width: 143px!important;
  }
}
@media (max-width: 767px) {
  br {
    display: none;
  }
  #stuck_container {
    background: #ffffff !important;
  }
  .sf-menu {
    display: none;
  }
  select.select-menu {
    display: block!important;
  }
}
/*==================  Stuck-menu     ======================*/
#stuck_container {
  background: #262626;
  position: relative;
  z-index: 1000;
}
#stuck_container:before,
#stuck_container:after {
  content: " ";
  display: table;
}
#stuck_container:after {
  clear: both;
}
#stuck_container.isStuck .brand_logo {
  margin-bottom: 0;
  margin-top: 9px;
}
#stuck_container.isStuck .brand_logo img {
  width: 70%;
}
#stuck_container.isStuck nav.navbar.navbar-default.navbar-static-top.tm_navbar {
  margin-top: 29px;
}
#stuck_container.isStuck .sf-menu > li > a {
  padding: 20px 0px 20px;
}
@media (max-width: 767px) {
  #stuck_container.isStuck {
    display: none;
  }
}
/*=======================================================
                     CONTENT  Layout
=========================================================*/
/*========================================================
                     CONTENT  Styles
=========================================================*/
/*==================  Blocks  ======================*/
.block-1 {
  padding: 82px 0px 78px;
}
.block-2 {
  padding: 18px 0px 45px;
}
.block-3 {
  padding: 94px 0px 76px;
}
.block-4 {
  padding: 26px 0px 52px;
}
.block-4.indent-1 {
  padding-bottom: 23px;
}
.block-4.indent-2 {
  padding-bottom: 8px;
}
.block-4.indent-3 {
  padding-bottom: 43px;
}
.block-4.indent-4 {
  padding-bottom: 34px;
}
.block-5 {
  padding: 42px 0px 65px;
}
.block-6 {
  padding: 88px 0px 83px;
}
.block-7 {
  padding: 35px 0px 48px;
}
.block-8 {
  padding: 29px 0px 50px;
}
.block-8.indent-1 {
  padding-bottom: 34px;
}
.block-9 {
  padding: 99px 0px 69px;
}
.page-404 {
  padding: 61px 0px 97px;
}
.page-404 h2 {
  margin-top: 44px!important;
  font-size: 60px;
}
.page-404 h2 span {
  font-size: 40px;
}
/*==================  Boxes      ======================*/
.box.box-1 .icon {
  text-align: center;
}
.box.box-1 .icon i {
  color: #ffffff;
  font-size: 340px;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.26);
}
.box.box-1 .icon i:before {
  text-align: center;
}
.box.box-1 h2 {
  color: #333333;
  font-weight: 700;
  margin-top: 30px;
}
.box.box-1 h2 > span {
  font-weight: 300;
}
.box.box-1 h2 + h6 {
  margin-top: 22px;
}
.box.box-1 h6 {
  color: #ffffff;
  font-weight: 400;
}
.box.box-1 .btns {
  margin-top: 32px;
}
.box.box-1 .btns .btn {
  margin-bottom: 15px;
}
.box.box-1 .btns .btn + .btn {
  margin-left: 17px;
}
.box.box-2 {
  display: block;
  margin-top: 14px;
}
.box.box-2:before,
.box.box-2:after {
  content: " ";
  display: table;
}
.box.box-2:after {
  clear: both;
}
.box.box-2 .icon {
  margin-right: 21px;
  margin-top: 13px;
  padding-top: 14px;
  float: left;
  border-radius: 100%;
  width: 68px;
  height: 68px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 30px;
  color: #8fd39d;
  background: #edf4f3;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  z-index: 1;
}
.box.box-2 .icon:before {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  border: 5px solid #edf4f3;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.box.box-2 .wrapper {
  overflow: hidden;
}
.box.box-2 .wrapper h6 {
  margin-bottom: 2px;
  font-weight: 600;
  color: #5e9796;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.box.box-2 .wrapper p {
  color: #777777;
  font-weight: 400;
  line-height: 18px;
}
.box.box-2:hover .icon,
.box.box-2:hover .date {
  background: #5e9796;
  color: #ffffff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.box.box-2:hover .icon:before,
.box.box-2:hover .date:before {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.box.box-2:hover .wrapper h6 {
  color: #8fd39d;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.box.box-3 .icon {
  float: left;
  font-size: 60px;
  color: #ffffff;
  background: #8fd39d;
  width: 120px;
  height: 120px;
  position: relative;
  top: -8px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 100%;
  padding: 13px;
  margin-right: 36px;
}
.box.box-3 .icon i.fa-cogs {
  margin-top: 16px;
}
.box.box-3 .wrapper {
  overflow: hidden;
}
.box.box-3 .wrapper h2 {
  margin-top: 0!important;
  color: #333333;
  font-weight: 700;
  margin-top: 30px;
}
.box.box-3 .wrapper h2 > span {
  font-weight: 300;
}
.box.box-3 h6 {
  font-weight: 600;
  color: #5e9796;
  line-height: 23px;
}
.box.box-4 h6 {
  font-weight: 600;
  color: #5e9796;
  line-height: 23px;
  margin: 11px 0px 3px;
}
.box.box-4 p {
  color: #777777;
  font-weight: 400;
  line-height: 18px;
}
.box.box-4 p + .btn {
  margin-top: 7px;
}
.box.box-5 h2 {
  font-weight: 700;
  color: #333333;
}
.box.box-5 h2 span {
  font-weight: 300;
}
.box.box-5 p {
  line-height: 18px;
  color: #777777;
}
.box.box-5 p + .btn-2 {
  margin-top: 13px;
  padding: 12px 21px;
}
.box.box-5 p + .btn-1 {
  padding: 12px 14px;
  margin-top: 16px;
}
.box.box-6 h6 {
  color: #5e9796;
  font-weight: 600;
  margin-bottom: 6px;
}
.box.box-6 p {
  color: #777777;
  line-height: 18px;
}
.box.box-6 p + p {
  margin-top: 12px;
}
.box.box-6 p + .list {
  margin-top: 32px;
}
.box.box-6 .list + p {
  margin-top: 33px;
}
.box.box-7 {
  display: block;
  margin-top: 14px;
  margin-top: 3px;
  margin-bottom: 13px;
}
.box.box-7:before,
.box.box-7:after {
  content: " ";
  display: table;
}
.box.box-7:after {
  clear: both;
}
.box.box-7 .icon {
  margin-right: 21px;
  margin-top: 13px;
  padding-top: 14px;
  float: left;
  border-radius: 100%;
  width: 68px;
  height: 68px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 30px;
  color: #8fd39d;
  background: #edf4f3;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  z-index: 1;
}
.box.box-7 .icon:before {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  border: 5px solid #edf4f3;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.box.box-7 .wrapper {
  overflow: hidden;
}
.box.box-7 .wrapper h6 {
  margin-bottom: 2px;
  font-weight: 600;
  color: #5e9796;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.box.box-7 .wrapper p {
  color: #777777;
  font-weight: 400;
  line-height: 18px;
}
.box.box-7:hover .icon,
.box.box-7:hover .date {
  background: #5e9796;
  color: #ffffff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.box.box-7:hover .icon:before,
.box.box-7:hover .date:before {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.box.box-7:hover .wrapper h6 {
  color: #8fd39d;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.box.box-7 .icon {
  padding-top: 34px;
  width: 124px;
  height: 124px;
  font-size: 40px;
  background: rgba(94, 151, 150, 0.11);
}
.box.box-7 .date {
  margin-right: 21px;
  position: relative;
  margin-top: 13px;
  padding-top: 37px;
  float: left;
  border-radius: 100%;
  width: 124px;
  height: 124px;
  font-family: 'Droid Sans', sans-serif;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 38px;
  line-height: 31px;
  color: #8fd39d;
  background: rgba(94, 151, 150, 0.11);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.box.box-7 .date span {
  font-size: 16px;
  display: block;
  text-align: center;
}
.box.box-8 .icon {
  float: left;
  font-size: 60px;
  color: #ffffff;
  background: #8fd39d;
  width: 120px;
  height: 120px;
  position: relative;
  top: -8px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 100%;
  padding: 13px;
  margin-right: 36px;
}
.box.box-8 .icon i.fa-cogs {
  margin-top: 16px;
}
.box.box-8 .wrapper {
  overflow: hidden;
}
.box.box-8 .wrapper h2 {
  margin-top: 0!important;
  color: #333333;
  font-weight: 700;
  margin-top: 30px;
}
.box.box-8 .wrapper h2 > span {
  font-weight: 300;
}
.box.box-8 h6 {
  font-weight: 600;
  color: #5e9796;
  line-height: 23px;
}
.box.box-8 h6 {
  font-weight: 600;
  color: #777777;
}
.box.box-9 h6 {
  color: #5e9796;
  font-weight: 600;
  margin-bottom: 6px;
}
.box.box-9 p {
  color: #777777;
  line-height: 18px;
}
.box.box-9 p + p {
  margin-top: 12px;
}
.box.box-9 p + .list {
  margin-top: 32px;
}
.box.box-9 .list + p {
  margin-top: 33px;
}
.box.box-9 p {
  margin-bottom: 0!important;
}
.box.box-9 p + .btn {
  margin-top: 22px;
}
.box.box-9 .list {
  margin-top: 0!important;
}
.box.box-10 h6 {
  font-weight: 600;
  color: #5e9796;
  line-height: 23px;
  margin: 11px 0px 3px;
}
.box.box-10 p {
  color: #777777;
  font-weight: 400;
  line-height: 18px;
}
.box.box-10 p + .btn {
  margin-top: 7px;
}
.box.box-10 h6 + p {
  margin-top: 17px;
}
.box.box-10 a {
  color: #8fd39d;
  margin-top: 7px;
  display: inline-block;
}
.box.box-10 a:hover {
  text-decoration: underline;
}
.box.box-10 + .box-10 {
  margin-top: 23px;
}
/*==================  Thumbnails      ======================*/
.thumb-pad-1 .thumbnail .caption h6 {
  color: #5e9796;
  font-weight: 600;
  margin-bottom: 1px;
}
.thumb-pad-1 .thumbnail .caption p {
  color: #777777;
  line-height: 18px;
}
.thumb-pad-1 .thumbnail .caption p + p {
  margin-top: 12px;
}
.thumb-pad-1 .thumbnail .caption p + .btn {
  margin-top: 8px;
}
.thumb-pad-2 {
  margin-top: 18px;
}
.thumb-pad-2 .thumbnail .caption h3 {
  font-weight: 600;
  color: #5e9796;
}
.thumb-pad-2 .thumbnail .caption p {
  line-height: 18px;
  color: #777777;
}
.thumb-pad-3 .thumbnail img {
  float: left;
  margin-right: 30px;
  margin-top: 3px;
}
.thumb-pad-3 .thumbnail .caption {
  padding: 0;
  overflow: hidden;
  color: #777777;
}
.thumb-pad-3 .thumbnail .caption h6 {
  text-transform: capitalize;
}
.thumb-pad-3 .thumbnail .caption blockquote {
  margin-bottom: 7px;
  line-height: 18px;
  border: 0px;
  padding: 0;
}
.thumb-pad-3 .thumbnail .caption blockquote p:before {
  content: "“";
  display: inline-block;
}
.thumb-pad-3 .thumbnail .caption blockquote p:after {
  content: "“";
  display: inline-block;
}
.thumb-pad-4 {
  margin-top: 19px;
}
.thumb-pad-4 .thumbnail .caption h6 {
  color: #5e9796;
  font-weight: 600;
  margin-bottom: 1px;
}
.thumb-pad-4 .thumbnail .caption p {
  color: #777777;
  line-height: 18px;
}
.thumb-pad-4 .thumbnail .caption p + p {
  margin-top: 12px;
}
.thumb-pad-4 .thumbnail .caption p + .btn {
  margin-top: 8px;
}
.thumb-pad-4 .thumbnail .caption {
  padding-top: 21px;
}
.thumb-pad-4 .thumbnail .caption h6 + p {
  margin-top: 16px;
}
.thumb-pad-4 .thumbnail .caption time {
  color: #5e9796;
  font-weight: 600;
  margin-bottom: 1px;
  font-size: 14px;
  line-height: 14px;
  margin-top: 11px;
  display: block;
}
.thumb-pad-4 .thumbnail .caption time + h6 {
  margin-top: 0;
}
/*==================  Titles      ======================*/
.title.title-1 {
  color: #333333;
  font-weight: 300;
}
.title.title-1 span {
  font-weight: 700;
}
.title.title-1 + .thumb-pad-1 {
  margin-top: 26px;
}
.title.title-1 + .list-2 {
  margin-top: 20px;
}
.title.title-1 + .box-6 {
  margin-top: 20px;
}
.title.title-1 + .thumb-pad-3 {
  margin-top: 24px;
}
.title.title-1 + .box-10 {
  margin-top: 37px;
}
.title.title-2 {
  font-weight: 600;
  color: #333333;
}
.title.title-2.indent {
  margin-top: 30px;
}
.title.title-2 + .list-4 {
  margin-top: 23px;
}
/*==================  Backgrounds  ======================*/
.bg-1 {
  background: #ffffff;
}
.img-bg-1 {
  background-image: url(../img/bg-img-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.img-bg-2 {
  background-image: url(../img/bg-img-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/*==================   Parallax    ======================*/
.parallax {
  background-position: center 0;
  background-repeat: no-repeat !important;
}
.mobile .parallax,
.tablet .parallax {
  background-position: 50% 0 !important;
  background-size: cover!important;
}
.parallax1 {
  background-color: #FFF;
  background-image: url(../images/parallax01.jpg);
  padding: 50px 0;
}
@media (max-width: 990px) {
  .parallax {
    background-position: center 0 !important;
    background-size: cover!important;
  }
}
@media (min-width: 2050px) {
  .parallax {
    background-size: cover!important;
  }
}
.parallax-bg-1 {
  background-image: url(../img/parallax-bg-1.jpg);
}
.parallax-bg-2 {
  background-image: url(../img/parallax-bg-2.jpg);
}
.parallax-bg-3 {
  background-image: url(../img/parallax-bg-3.jpg);
}
.parallax-bg-4 {
  background-image: url(../img/parallax-bg-4.jpg);
}
.parallax-bg-5 {
  background-image: url(../img/parallax-bg-5.jpg);
}
.parallax-bg-6 {
  background-image: url(../img/parallax-bg-6.jpg);
}
/*==================  Lists      ======================*/
.list {
  padding: 0;
  list-style: none;
}
.list.list-1 li {
  font-size: 12px;
  color: #777777;
}
.list.list-1 li > span {
  font-size: 14px;
  font-weight: 600;
  color: #5e9796;
  display: inline-block;
  margin-right: 9px;
}
.list.list-1 li a {
  color: #8fd39d;
}
.list.list-1 li a:hover {
  text-decoration: underline;
}
.list.list-1 li .number {
  font-size: 14px;
  color: #777777;
  position: relative;
  padding-left: 30px;
}
.list.list-1 li .number:before {
  top: -10px;
  left: 0;
  font-weight: 300;
  font-size: 24px;
  content: "\f095";
  font-family: fontAwesome;
  color: #8fd39d;
  position: absolute;
}
.list.list-1 li + li {
  margin-top: 16px;
}
.list.list-2 li .number {
  border-radius: 100%;
  background: #8fd39d;
  color: #ffffff;
  float: left;
  font-size: 60px;
  font-weight: 400;
  width: 71px;
  height: 71px;
  text-align: center;
  margin-right: 29px;
  margin-top: 6px;
  line-height: 58px;
}
.list.list-2 li .wrapper {
  overflow: hidden;
}
.list.list-2 li .wrapper h6 {
  margin-top: 0;
  color: #5e9796;
  font-weight: 600;
  margin-bottom: 5px;
}
.list.list-2 li .wrapper p {
  color: #777777;
  line-height: 18px;
}
.list.list-2 li + li {
  margin-top: 27px;
}
.list.list-3 li {
  line-height: 30px;
  color: #777777;
}
.list.list-3 li:before {
  margin-right: 15px;
  content: "\f054";
  font-family: fontAwesome;
  color: #8fd39d;
  font-size: 12px;
}
.list.list-4 dt {
  color: #5e9796;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
}
.list.list-4 dt + dd {
  margin-top: 6px;
}
.list.list-4 dd {
  font-size: 12px;
  color: #777777;
  line-height: 18px;
  font-weight: 300;
}
.list.list-4 dd span {
  display: inline-block;
  min-width: 58px;
}
.list.list-4 dd a {
  color: #777777;
}
.list.list-4 dd a:hover {
  text-decoration: underline;
}
/*==================  Buttons    ======================*/
.btn.btn-1 {
  font-weight: 600;
  color: #ffffff;
  background: #5e9796;
  border: 2px solid #5e9796;
  border-radius: 6px;
  font-size: 15px;
  padding: 12px 18px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.btn-1:hover {
  background: transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #5e9796;
}
.btn.btn-2 {
  font-weight: 600;
  background: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 6px;
  font-size: 15px;
  padding: 12px 18px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.btn-2:hover {
  background: #ffffff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #333333;
}
.btn.btn-3 {
  font-weight: 600;
  color: #ffffff;
  background: #8fd39d;
  border: 2px solid #8fd39d;
  border-radius: 6px;
  font-size: 15px;
  padding: 10px 18px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.btn-3:hover {
  background: #5e9796;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-color: #5e9796;
}
/*==================  Links    ======================*/
/*==================  toTop    ======================*/
#toTop {
  display: inline-block;
  position: fixed;
  bottom: 150px;
  right: 10%!important;
  background: #red;
  font-size: 50px;
  color: #9eacb9;
  z-index: 9999;
  transition: ease all 0.3s;
  margin-right: 0px!important;
}
#toTop:hover {
  color: #3e454c;
  transition: ease all 0.3s;
}
#toTop:focus {
  border: none;
}
@media only screen and (max-width: 980px) {
  #toTop {
    display: none !important;
  }
}
/*========================================================
                     FOOTER  Styles
=========================================================*/
footer .footer_top {
  padding: 35px 0px;
}
footer .footer_top h4 {
  font-weight: 600;
  color: #333333;
}
footer .footer_top h4 + p {
  margin-top: 22px;
}
footer .footer_top h4 + .list {
  margin-top: 19px;
}
footer .footer_top p {
  line-height: 18px;
  color: #777777;
}
footer .footer_top p + .footer_privacy {
  margin-top: 72px;
}
footer .footer_top.indent {
  margin-top: 7px;
}
footer .footer_top .footer_privacy {
  font-size: 12px;
  color: #777777;
}
footer .footer_top .footer_privacy a {
  text-transform: capitalize;
  color: #777777;
}
footer .footer_top .footer_privacy a:hover {
  text-decoration: underline;
}
footer .footer_top .fb-like-box {
  margin-top: 10px;
}
footer .footer_top .fb-like-box,
footer .footer_top .fb-like-box span,
footer .footer_top .fb-like-box iframe {
  max-width: 332px;
  width: 100% !important;
  background: #FFF;
}
footer .footer_bottom .google-map-api {
  width: 100%;
}
footer .footer_bottom .google-map-api #map-canvas {
  height: 289px;
}
footer.border {
  border-top: 1px solid #292929;
}
/*========================================================
                     MEDIA QUERIES
=========================================================*/
@media (min-width: 1220px) {
  .container {
    padding: 0;
  }
}
@media (max-width: 2057.61316872px) {
  .camera_block {
    padding-top: 500px!important;
  }
}
@media (max-width: 991px) {
  .box.box-1 .icon i {
    font-size: 200px;
  }
  .box.box-1 h2 {
    margin-top: 0;
  }
  .camera-caption {
    top: 1%!important;
  }
  fb-widget {
    margin-top: 50px;
  }
  .box-1,
  .page-404 .box-1 {
    text-align: center;
  }
  .thumbnail {
    text-align: left;
  }
  .thumbnail img {
    display: inline-block;
  }
  header .header_top {
    text-align: center;
  }
  header .header_top .left_side,
  header .header_top .right_side {
    float: none;
  }
  header .header_top .right_side .header_info {
    padding-left: 50px;
  }
  header .header_top .right_side .header_info strong {
    display: block;
  }
  header .header_top .right_side .header_info i {
    position: absolute;
    left: 13px;
    top: 19px;
  }
  footer h4 {
    margin-top: 30px;
  }
  footer .footer_privacy {
    margin-top: 10px!important;
  }
  .box.box-4,
  .thumb-pad-4 {
    margin-top: 28px;
  }
  .thumb-pad-2 {
    text-align: center!important;
  }
  .thumb-pad-2 .thumbnail {
    text-align: center!important;
  }
  .thumb-pad-2 .thumbnail img {
    display: inline-block !important;
  }
  .thumb-pad-2 .caption {
    text-align: center!important;
  }
  .title {
    margin-top: 30px;
  }
  .box.box-1 h2 {
    font-size: 30px;
    line-height: 35px;
  }
}
@media (max-width: 767px) {
  .box.box-1 .icon i {
    font-size: 151px;
  }
  .camera_block {
    margin-top: 40px;
  }
  .camera_block h2 br {
    display: block;
  }
  .box.box-7 {
    text-align: center;
  }
  .box.box-7 .icon,
  .box.box-7 .date {
    display: inline-block;
    float: none!important;
    margin-right: 0;
  }
  .box.box-3,
  .box.box-8 {
    text-align: center;
  }
  .box.box-3 .icon,
  .box.box-8 .icon {
    display: inline-block;
    float: none;
    margin-right: 0;
  }
}
@media (max-width: 479px) {
  .box.box-1 h6 {
    display: none;
  }
  .box.box-1 i {
    font-size: 220px;
  }
  .box.box-1 .btns .btn {
    margin-left: 0!important;
    padding: 12px 18px!important;
    min-width: 200px;
  }
  .thumb-pad-3 .thumbnail img {
    float: none;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
/*Core variables and mixins*/
